nav{
    background-color: #C46D5E;
}
body{
    background-color: #153044;
}

p{
    font-size: 30px;
    color: #CACCC2
}
h1{
    color: #CACCC2;
}
footer p{
    font-size: 25px;
    color: #CACCC2;
}